body {}

#root,
#root>div:nth-child(1),
#root>div:nth-child(1)>div:nth-child(1) {
    height: 100%;
}

.wrapper {
    height: 100%;
    padding: 1px 0 0;
    background: linear-gradient(to left bottom, rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(216, 81, 81), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(128, 243, 82), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(34, 151, 132), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgba(163, 2, 238, 0.952), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgba(238, 8, 8, 0.774), rgb(104, 103, 103), rgb(10, 10, 10), rgb(16, 235, 216), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(236, 185, 75), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(72, 236, 122), rgb(10, 10, 10), rgb(104, 103, 103), rgb(78, 186, 236), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(19, 64, 212), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(117, 230, 25), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(243, 148, 148), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(203, 247, 202), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(172, 206, 250), rgb(10, 10, 10), rgb(104, 103, 103), rgb(88, 91, 248), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(240, 48, 224), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(51, 141, 104), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(9, 121, 55), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(226, 26, 26), rgb(10, 10, 10), rgb(104, 103, 103), rgb(186, 87, 231), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(86, 88, 245), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(250, 134, 221), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(245, 37, 37), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(90, 248, 125), rgb(10, 10, 10), rgb(104, 103, 103), rgb(220, 241, 98), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(66, 145, 219), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(235, 80, 100), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(193, 86, 243), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(64, 235, 178), rgb(10, 10, 10), rgb(104, 103, 103), rgb(5, 141, 5), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 53, 245), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103), rgb(10, 10, 10), rgb(104, 103, 103));
}

.login {
    color: #fff;
    transition: all .5s linear .1s;
}

.login:hover {
    border-color: turquoise;
    color: turquoise;
    border-radius: 6px;
}

.ant-form-item-label>label {
    border: 1px solid #fff;
    border-right: 0px;
    color: #fff;
    padding: 0 5px;
}

.ant-form-item-label>label::after {
    content: '';
}

.ant-input-affix-wrapper {
    border: 0px !important;
    border-radius: 0px;
}

.ant-input:nth-of-type(1) {
    border: 1px solid #fff !important;
    border-radius: 0px;
}

.ant-form-item-explain.ant-form-item-explain-error {
    color: rgb(240, 238, 240);
}